@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: url("https://images.pexels.com/photos/163891/italy-sicily-sea-ocean-163891.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}
.container {
  width: 90vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  color: white;
  backdrop-filter: blur(20px);
}
.content {
  width: 100%;
  height: 90%;
}
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: center;
}

nav ul li {
  padding: 10px;
}

nav .buttons {
  padding: 10px;
}
nav .buttons button {
  padding: 10px;
  margin-left: 10px;
}
.content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.content-form {
  width: 40%;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  min-width: 300px; /* Adjust as needed */
  z-index: 12;
  position: relative;
}

.content-form form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
  min-height: 60%;
  justify-content: space-around;
  align-items: center;
}
.content-form h1:last-of-type {
  margin-bottom: 30px;
}
.content-form form input {
  width: 90%;
  height: 40px;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 10px;
}
.content-form form input::placeholder {
  color: black;
  font-family: "Noto Sans", sans-serif;
}
.content-form form button {
  width: 90%;
  height: 40px;
}
#sign-in {
  margin-top: 20px;
  margin-bottom: 20px;
}
.off-login {
  display: flex;
}
.off-login button {
  padding: 20px 26.5px;
  align-items: center;
  justify-content: center;
  display: flex;
  margin: 10px;
}
.off-login i {
  font-size: 20px;
}
.off-login button:first-of-type i {
  font-size: 20px;
  color: red;
}
.off-login button i {
  font-size: 20px;
}
.off-login button:last-of-type i {
  font-size: 20px;
  color: blue;
}
.content-form a {
  align-self: self-end;
  padding-right: 20px;
  font-size: 12px;
}
.continue-with {
  display: flex;
  font-size: 12px;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.continue-with span {
  display: inline;
  background: rgba(109, 109, 109, 0.719);
  width: 27%;
  height: 1px;
  margin: 5px;
}
.register-link {
}
.register-link p {
  font-size: 12px;
  color: rgb(109, 109, 109);
}
.register-link p span {
  color: rgb(255, 255, 255);
}
